set relativenumber
set number
set visualbell
set noerrorbells
set ideajoin
set showmode
set hls
set clipboard+=unnamed
nmap gi <Action>(GotoImplementation)
nmap gI <Action>(GotoSuperMethod)
nmap gr <Action>(ShowUsages)
nmap gR <Action>(FindUsages)
nmap gy <Action>(GotoTypeDeclaration)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
imap <C-x><C-o> <Action>(CodeCompletion)

nmap <leader>bp <Action>(ToggleLineBreakpoint)
vmap <leader>= <Action>(ReformatCode)
nmap g, <Action>(JumpToNextChange)
nmap g; <Action>(JumpToLastChange)
nmap <leader>rn <Action>(RenameElement)

nmap <leader>D <Action>(Debug)
nmap <leader>R <Action>(Run)
nmap <leader>ra <Action>(Rerun)
nmap <leader>re <Action>(Resume)
nmap <leader>rs <Action>(Stop)

nmap <leader>fs <Action>(GotoSymbol)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>gr <Action>(FindInPath)

nmap <leader>cn <Action>(NewFile)

nmap <leader>dw <Action>(XDebugger.NewWatch)

nmap <Leader>se <Action>(ShowErrorDescription)

vmap <leader>ec <Action>(EvaluateExpression)

nmap <leader>si <Action>(StepInto)
nmap <leader>sou <Action>(StepOut)
nmap <leader>sov <Action>(StepOver)

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap <leader>gs <Action>(FileStructurePopup)
nmap <leader>gS <Action>(ActivateStructureToolWindow)

# This can navigate between windows (project/terminal/debug/etc)
nmap <leader>G <Action>(SelectIn)

imap <C-y> <Action>(EditorChooseLookupItemReplace)

nmap <C-p> <Action>(RecentFiles)

# Complete parameters (ie; for data class instantiation)
imap <C-x><C-p> <Action>(ParameterInfo)

# Show recent files
nmap <C-p> <Action>(RecentFiles)

# Bookmarks
nmap <leader>bm <Action>(ToggleBookmark)

# Git blame
nmap <leader>gb <Action>(Annotate)

# Distraction free.
nmap <leader>df <Action>(ToggleDistractionFreeMode)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv
